<%- include('../../partials/head.ejs') %>
    <title>Category</title>
<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/sidebar.ejs') %>
    <main class="container-lg">
        <br>
        <div class="header-info">
            <h2>Articles</h2>
            <a href="/admin/article/new" class="btn btn-success">New Category</a>
        </div>
    </main>
<%- include('../../partials/script.ejs') %>
<script>
    function confirmarDelecao(event, form) {

        var conf = confirm("Excluir Categoria?")

        if (conf) {
            form.submit()
            console.log("Categoria Deletada!")
        } else {
            event.preventDefault()
            console.log("Deleção cancelada...")
        }
    }
</script>