<%- include('../../partials/head.ejs') %>
    <title>Categoria - Cadastro</title>
<%- include('../../partials/header.ejs') %>
<%- include('../../partials/sidebar.ejs') %>
    <br>
    <main class="container-lg">
        <h2>Cadastro de Categoria</h2>
        <br>
        <div class="card">
            <div class="card-header">
                <form action="/category/create" method="post" class="container">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control">
                    <br>
                    <button class="btn btn-sm btn-success">Salvar Categoria</button>
                </form>
            </div>
        </div>
    </main>
<%- include('../../partials/script.ejs') %>
