<div class="col-auto col-md-1.5 min-vh-100 border">
    <div class="p-2">
        <ul class="nav nav-pills flex-column mt-3">
            <li class="nav-item">
                <a href="/" class="nav-link"><img src="" alt="">Home</a>
            </li>
            <li class="nav-item">
                <a href="/admin/articles" class="nav-link"><img src="" alt="">Articles</a>
            </li>
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link"><img src="" alt="">Categories</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link"><img src="" alt="">About</a>
            </li>        
            <li class="nav-item">
                <a href="/notfound" class="nav-link"><img src="" alt="">Not found</a>
            </li>
        </ul>
    </div>
</div>