<div class="col-auto col-md-1.5 min-vh-100 border">
    <div class="p-2">
        <ul class="nav nav-pills flex-column mt-2">
            <li class="nav-item">
                <a href="/" class="nav-link"><img src="/img/home.png" alt="" class="sidebarIcon">Home</a>
            </li>
            <li class="nav-item">
                <a href="/admin/articles" class="nav-link"><img src="/img/article.png" alt="" class="sidebarIcon">Articles</a>
            </li>
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link"><img src="/img/tag.png" alt="" class="sidebarIcon">Categories</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link"><img src="/img/info.png" alt="" class="sidebarIcon">About</a>
            </li>        
            <li class="nav-item">
                <a href="/404" class="nav-link"><img src="/img/err.png" alt="" class="sidebarIcon">Not found</a>
            </li>
        </ul>
    </div>
</div>