<%- include('partials/head.ejs') %>
    <title>Document</title>
    <%- include('partials/header.ejs') %>
    <%- include('partials/sidebar.ejs') %>
    <div class="container-lg">
        <h1>Ola mundo</h1>
    </div>
<%- include('partials/script.ejs') %>