* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    height: 46px;
    display: flex;
}

#navbarLogo {
    justify-content: space-around;
    gap: 69.5%;
}

#navbarCategories {
    justify-content: center;
}

nav a img {
    width: 28px;
    height: 28px;
}

.sidebarIcon {
    width: 13px;
    height: 15px;
    margin-right: 5px;
}

.nav-link {
    font-size: 12px;
}

td {
    font-size: 14px;
}

.card {
    min-height: 50px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item a {
    color: black;
}

.col-auto {
    position: static;
    float: left;
}

.container-lg {
    margin-left: 12%;
    width: 80%;
}

.container-md {
    width: 34.5%;
}

.container-sm {
    width: 25%;
}

.page-control {
    display: flex; 
    justify-content: space-between;
}