* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

span {
    font-size: 16px;
}

td {
    font-size: 14px;
}

nav a img {
    width: 28px;
    height: 28px;
    margin:0 1.5px 5px 0;
}

.sidebarIcon {
    width: 13px;
    height: 15px;
    margin-right: 5px;
}

.nav-link {
    font-size: 12px;
}

#logo {
    margin-left: 10px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item a {
    color: black;
}

.col-auto {
    position: static;
    float: left;
}

.container-lg {
    margin-left: 12%;
    width: 80%;
}